{% extends "reporter/base.html" %}

{% load static %}

{% block links %}
	<link href="{% static 'reporter/style/style.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}List processes of report - {{report.id}}{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="card">
			<div class="card-body">
				<h2 class="card-title">{{ report.id }} - {{ report.title_text }}</h2>
				<h5 class="card-subtitle my-2 text-muted">{{ report.content_text }}</h5>
				<span class="card-subtitle text-muted">Created: {{ report.pub_date }}</span>
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-lg-4">
						<div class="card filters">
							<div class="card-body">
								<h5 class="card-title">Filters</h5>
								<form action="" id="filter_form" method="get" class="text-right">
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text">id</span>
										</div>
										<input class="form-control" name="id_filter" form="filter_form" placeholder="Enter report id" value="{{ filters.id|default:'' }}">
									</div>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text">Name</span>
										</div>
										<input class="form-control" name="name" placeholder="Enter phrase in name" value="{{ filters.name|default:'' }}">
										<select class="custom-select bg-light" name="name_match" style="max-width: 8em">
											<option value="exact" {% if filters.name_match == "exact" %}selected{% endif %}}}>Exact match</option>
											<option value="starts" {% if filters.name_match == "starts" %}selected{% endif %}>Starts with</option>
											<option value="contains" {% if filters.name_match == "contains" %}selected{% endif %}>Contains</option>
											<option value="ends" {% if filters.name_match == "ends" %}selected{% endif %}>Ends with</option>
										</select>
									</div>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text">State</span>
										</div>
										<input class="form-control" name="state"  placeholder="Enter phrase in state" value="{{ filters.state|default:'' }}">
										<select class="custom-select bg-light" name="state_match" style="max-width: 8em">
											<option value="exact" {% if filters.state_match == "exact" %}selected{% endif %}>Exact match</option>
											<option value="starts" {% if filters.state_match == "starts" %}selected{% endif %}>Starts with</option>
											<option value="contains" {% if filters.state_match == "contains" %}selected{% endif %}>Contains</option>
											<option value="ends" {% if filters.state_match == "ends" %}selected{% endif %}>Ends with</option>
										</select>
									</div>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text">RAM</span>
										</div>
										<input class="form-control" name="ram"  placeholder="Enter the amount of RAM" value="{{ filters.ram|default:'' }}">
										<select class="custom-select bg-light" name="ram_match" style="max-width: 8em">
											<option value="equal" {% if filters.ram_match == "equal" %}selected{% endif %}>Equal</option>
											<option value="greater" {% if filters.ram_match == "greater" %}selected{% endif %}>Greater</option>
											<option value="e_greater" {% if filters.ram_match == "e_greater" %}selected{% endif %}>Greater or equal</option>
											<option value="less" {% if filters.ram_match == "less" %}selected{% endif %}>Less</option>
											<option value="e_less" {% if filters.ram_match == "e_less" %}selected{% endif %}>Less or equal</option>
										</select>
									</div>
									<div class="input-group mb-2">
										<div class="input-group-prepend">
											<span class="input-group-text">Date</span>
										</div>
										<input class="form-control" name="date" type="date" placeholder="Enter date" value="{{ filters.date|default:'' }}">
										<select class="custom-select bg-light" name="date_match" style="max-width: 8em">
											<option value="equal" {% if filters.date_match == "equal" %}selected{% endif %}>Equal</option>
											<option value="greater" {% if filters.date_match == "greater" %}selected{% endif %}>Greater</option>
											<option value="e_greater" {% if filters.date_match == "e_greater" %}selected{% endif %}>Greater or equal</option>
											<option value="less" {% if filters.date_match == "less" %}selected{% endif %}>Less</option>
											<option value="e_less" {% if filters.date_match == "e_less" %}selected{% endif %}>Less or equal</option>
										</select>
									</div>
									<a href="{% url 'reporter:report' report.id %}" class="btn btn-outline-danger">Clear</a>
									<button class="btn btn-info" type="submit" style="width: 7em;">Filter</button>
								</form>
							</div>
						</div>
						<div class="card mt-3">
							<div class="card-body">
								<h5 class="card-title">Download this report</h5>
								<div class="d-flex">
									<a class="btn btn-outline-info w-100 mr-1" href="{% url 'reporter:download_excel' report.id %}">Excel</a>
									<a class="btn btn-outline-info w-100 ml-1" href="{% url 'reporter:download_word' report.id %}">Word</a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-8 mt-3 mt-lg-0">
						<div class="card filters">
							<div class="card-body" style="overflow-x: auto;">
								<table class="table table-light table-hover">
									<thead class="thead-light">
										<tr>
											<th>ID</th>
											<th>Name</th>
											<th>State</th>
											<th>RAM (kb)</th>
											<th>Date</th>
										</tr>
									</thead>
									{% for process in process_list %}
										<tr>
											<td>{{ process.id }}</td>
											<td>{{ process.name_text }}</td>
											<td>{{ process.state_text }}</td>
											<td>{{ process.ram_in_kb_int }}</td>
											<td>{{ process.date }}</td>
										</tr>
									{% empty %}
										<tr>
											<td class="text-center" colspan="5">Nothing to show</td>
										</tr>
									{% endfor %}
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}