{% extends "reporter/base.html" %}

{% load static %}

{% block title %}List of reports{% endblock %}

{% block links %}
	<link href="{% static 'reporter/style/style.css' %}" rel="stylesheet">
{% endblock %}

{% block after_scripts %}
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-lg-4">
				<div class="card filters">
					<div class="card-body">
						<h5 class="card-title">Filters</h5>
						<form action="" id="filter_form" method="get" class="text-right">
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text">id</span>
								</div>
								<input class="form-control" name="id_filter" form="filter_form" placeholder="Filter by id" value="{{ filters.id|default:'' }}">
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text">Title</span>
								</div>
								<input class="form-control" name="title_filter" placeholder="Filter by title" value="{{ filters.title|default:'' }}">
								<select class="custom-select bg-light" name="title_match" style="max-width: 8em">
									<option value="exact" {% if filters.title_match == "exact" %}selected{% endif %}>Exact match</option>
									<option value="starts" {% if filters.title_match == "starts" %}selected{% endif %}>Starts with</option>
									<option value="contains" {% if filters.title_match == "contains" %}selected{% endif %}>Contains</option>
									<option value="ends" {% if filters.title_match == "ends" %}selected{% endif %}>Ends with</option>
								</select>
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text">Content</span>
								</div>
								<input class="form-control" name="content_filter"  placeholder="Filter by content" value="{{ filters.content|default:'' }}">
								<select class="custom-select bg-light" name="content_match" style="max-width: 8em">
									<option value="exact" {% if filters.content_match == "exact" %}selected{% endif %}>Exact match</option>
									<option value="starts" {% if filters.content_match == "starts" %}selected{% endif %}>Starts with</option>
									<option value="contains" {% if filters.content_match == "contains" %}selected{% endif %}>Contains</option>
									<option value="ends" {% if filters.content_match == "ends" %}selected{% endif %}>Ends with</option>
								</select>
							</div>
							<div class="input-group mb-2">
								<div class="input-group-prepend">
									<span class="input-group-text">Date</span>
								</div>
								<input class="form-control" name="date_filter" placeholder="Filter by date" value="{{ filters.date|default:'' }}">
							</div>
							<a href="{% url 'reporter:reports' %}" class="btn btn-outline-danger">Clear</a>
							<button class="btn btn-info" type="submit" style="width: 7em;">Filter</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-8 mt-3 mt-lg-0">
				<div class="card">
					<div class="card-body" style="overflow-x: auto;">
						<table class="table table-light table-hover without-last-tr">
							<thead class="thead-light">
								<tr>
									<th>ID</th>
									<th>Title</th>
									<th>Content</th>
									<th>Date&nbsp;published</th>
									<th></th>
								</tr>
							</thead>
							{% if report_list %}
								{% for report in report_list %}
									<tr>
										<td>{{ report.id }}</td>
										<td><a href="{% url 'reporter:report' report.id %}">{{ report.title_text }}</a></td>
										<td>{{ report.content_text }}</td>
										<td>{{ report.pub_date }}</td>
										<td>
											<div class="d-flex justify-content-end">
												<a class="btn btn-outline-info mr-1 table-btn" href="{% url 'reporter:report_edit' report.id %}">Edit</a>
												<a class="btn btn-outline-danger table-btn" href="{% url 'reporter:report_remove' report.id %}">Remove</a>
											</div></td>
									</tr>
								{% endfor %}
							{% else %}
								<tr>
									<td class="text-center" colspan="5">Nothing to show</td>
								</tr>
							{% endif %}
						</table>
						<div class="d-flex justify-content-end mr-2">
							<a class="btn btn-outline-primary table-btn mr-1" href="{% url 'reporter:create' %}">Add report</a>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>

{% endblock %}